{% extends 'blog/base.html' %}

{% block content %}
    {% if latest_post_list %}
        <ul>
            {% for post in latest_post_list %}
                <li>
                    <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>&nbsp;&nbsp;
                    {{ post.date }}&nbsp;&nbsp;            
                    <a href="{% url 'blog:update' post.id %}">수정</a>&nbsp;&nbsp;
                    <a href="{% url 'blog:delete' post.id %}">삭제</a>
                </li>
            {% endfor %}
        </ul>   
    {% else %}
        <p>No posts are available</p>
    {% endif %}
{% endblock %}



