{% extends 'blog/base.html' %}
<head>
{% block extrahead %}
  <title>Dooboo Blog</title>
{% endblock %}
</head>
<body>
{% block content %}


<div class="container">

    <!-- post가 존재할 경우 최대 열 개 출력 --> 
    {% if latest_post_list %} 
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in latest_post_list %}
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' post.id %}">
                            <h2 class="post-title">
                            {{ post.title }}
                            </h2>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Start Bootstrap</a>
                            on {{ post.date }}</p>
                    </div>
                    <hr>
                {% endfor %}

                <!-- Pager -->
                {% if latest_post_list.has_next %}
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="?page={{ latest_post_list.next_page_number }}">다음 페이지&rarr;</a>
                    </div>
                {% endif %}
            </div>
        </div>

    <!-- post가 존재하지 않을 경우 메시지 표시 -->
    {% else %}
        <p style="text-align:center;">포스트가 존재하지 않습니다.</p>
    {% endif %}

</div>

{% endblock %}
</body>

